!!!
%html
  %head
    %title Ok
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500,300,300italic,200"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.main
      %header.app-bar
        %label.button{for: "show-navigation"}
          = icon :menu
        .title{flex: true}= yield :title
        = yield :app_bar_buttons
      %section.content
        = yield
    %input#show-navigation{type: :checkbox, autocomplete: :off}
    %nav.main-navigation
      %header.app-bar
        .title= current_user.name
      %section.content
        %ul.list
          %li.list-item
            = link_to root_path, class: "primary-action" do
              = icon t("dashboards.show.icon")
              .text
                .line= t("dashboards.show.link")
          %li.list-item
            = link_to root_path, class: "primary-action" do
              = icon t("events.calendar.icon")
              .text
                .line= t("events.calendar.link")

        %ul.list
          - current_user.groups.each do |group|
            %li.list-item
              = link_to "#", class: "primary-action" do
                .avatar
                  = icon :group
                .text
                  .line= group
                  .line Lorem ipsum dolor sit amet qui adipisicing elit derp
              = link_to "#", class: "secondary-action" do
                = icon :settings

    %label.scrim{for: "show-navigation"}

    :coffee
      moment.tz.setDefault "#{current_user.preferences.time_zone}"

    = yield :scripts
