!!!
%html
  %head
    %title availa.be
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500,300,300italic,200"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section.main
    %input#show-navigation{type: :checkbox, autocomplete: :off}
    %nav.main-navigation
      %header.app-bar
        .title= current_user.try :name
      %section.content
        %ul.list
          = navigation_item "dashboards.show", root_path
          = navigation_item "events.calendar", events_path
          %li.list-item
            = link_to destroy_user_session_path, class: "primary-action", method: :delete do
              = icon t("login.log_out.icon")
              .text
                .line= t("login.log_out.link")

        %section.groups
          %h3= t("groups.index.title")
          %ul.list.groups-list
          %ul.list
            = navigation_item "groups.new", new_group_path

    %label.scrim{for: "show-navigation"}

    %footer.alerts
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert
            .text= msg
            %button.clear= icon :clear

    :coffee
      moment.tz.setDefault "#{Time.zone.tzinfo.name}"
      moment.defaultFormat = "YYYY-MM-DD"

    = yield :scripts
