!!!
%html
  %head
    %title availa.be
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:500,300,300italic,200"
    = stylesheet_link_tag "login", media: "all"
    = javascript_include_tag "login"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}
  %body
    = yield
